---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/?gender=male&name=Slaveowner&species=human&status=dead&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"233-Ufrn7/C1jUldvoTwizw82pfEPCM"
      x-nf-request-id:
      - 01FYDEMXHQ9MKVFBRJ58G9S7ST
    body:
      encoding: UTF-8
      string: '{"info":{"count":1,"pages":1,"next":null,"prev":null},"results":[{"id":323,"name":"Slaveowner","status":"Dead","species":"Human","type":"","gender":"Male","origin":{"name":"Post-Apocalyptic
        Earth","url":"https://rickandmortyapi.com/api/location/8"},"location":{"name":"Post-Apocalyptic
        Earth","url":"https://rickandmortyapi.com/api/location/8"},"image":"https://rickandmortyapi.com/api/character/avatar/323.jpeg","episode":["https://rickandmortyapi.com/api/episode/23"],"url":"https://rickandmortyapi.com/api/character/323","created":"2018-01-05T15:13:46.862Z"}]}'
  recorded_at: Fri, 18 Mar 2022 02:45:31 GMT
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/?gender=male&name=Slaveowner&species=human&status=dead&type=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"233-Ufrn7/C1jUldvoTwizw82pfEPCM"
      x-nf-request-id:
      - 01FYDEMZTY8F7FCD3X37VS4ZGS
    body:
      encoding: UTF-8
      string: '{"info":{"count":1,"pages":1,"next":null,"prev":null},"results":[{"id":323,"name":"Slaveowner","status":"Dead","species":"Human","type":"","gender":"Male","origin":{"name":"Post-Apocalyptic
        Earth","url":"https://rickandmortyapi.com/api/location/8"},"location":{"name":"Post-Apocalyptic
        Earth","url":"https://rickandmortyapi.com/api/location/8"},"image":"https://rickandmortyapi.com/api/character/avatar/323.jpeg","episode":["https://rickandmortyapi.com/api/episode/23"],"url":"https://rickandmortyapi.com/api/character/323","created":"2018-01-05T15:13:46.862Z"}]}'
  recorded_at: Fri, 18 Mar 2022 02:45:33 GMT
recorded_with: VCR 6.0.0
