---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/?species=humanoid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26e0-j2Bqt66b+T1boU7NEWYk1x+bRWU"
      x-nf-request-id:
      - 01FYDE3QEWT09RF7JCQA25TBDP
    body:
      encoding: UTF-8
      string: '{"info":{"count":68,"pages":4,"next":"https://rickandmortyapi.com/api/character/?page=2&species=humanoid","prev":null},"results":[{"id":21,"name":"Aqua
        Morty","status":"unknown","species":"Humanoid","type":"Fish-Person","gender":"Male","origin":{"name":"unknown","url":""},"location":{"name":"Citadel
        of Ricks","url":"https://rickandmortyapi.com/api/location/3"},"image":"https://rickandmortyapi.com/api/character/avatar/21.jpeg","episode":["https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/22"],"url":"https://rickandmortyapi.com/api/character/21","created":"2017-11-04T22:39:48.055Z"},{"id":22,"name":"Aqua
        Rick","status":"unknown","species":"Humanoid","type":"Fish-Person","gender":"Male","origin":{"name":"unknown","url":""},"location":{"name":"Citadel
        of Ricks","url":"https://rickandmortyapi.com/api/location/3"},"image":"https://rickandmortyapi.com/api/character/avatar/22.jpeg","episode":["https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/22","https://rickandmortyapi.com/api/episode/28"],"url":"htt[...]
