---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/location/?dimension=unknown&name=Citadel+of+Ricks&type=Space+station
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13cc-ydybyk8RU8U6f33RZanYm0wnbR0"
      x-nf-request-id:
      - 01FYFDNZ0G5ZEDY2EPGRXY49HZ
    body:
      encoding: UTF-8
      string: '{"info":{"count":1,"pages":1,"next":null,"prev":null},"results":[{"id":3,"name":"Citadel
        of Ricks","type":"Space station","dimension":"unknown","residents":["https://rickandmortyapi.com/api/character/8","https://rickandmortyapi.com/api/character/14","https://rickandmortyapi.com/api/character/15","https://rickandmortyapi.com/api/character/18","https://rickandmortyapi.com/api/character/21","https://rickandmortyapi.com/api/character/22","https://rickandmortyapi.com/api/character/27","https://rickandmortyapi.com/api/character/42","https://rickandmortyapi.com/api/character/43","https://rickandmortyapi.com/api/character/44","https://rickandmortyapi.com/a[...]
